
.arrow{
  border:none ;
  background-color: white;
  /*background-color: rgba(255, 255, 255,0);*/
  cursor: pointer;
  margin: auto;
  z-index: 1;



}
.menu{
  color:white;
  border:none;
  background-color: rgba(255, 255, 255,0);
  font-size: 30px;
  cursor: pointer;
  float:right;


}
/* I used code from W3 Schools to make the dropdown menu*/
.dropdown {
  position: relative;
  float:right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  z-index: 1;
  right:0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display:flex;
  background-color: white;
}

.dropdown:hover .menu {color:rgba(255, 255, 255,0);}

.icon {
    border:none ;
    color:white;
    background-color: rgba(255, 255, 255,0);
    font-size: 30px;
    cursor: pointer;

}
